language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
install: 
    - pip install -U pip six virtualenv
    - pip freeze
script: python tests.py
branches:
    only:
        - master
sudo: false
